
.search-btn {
    background-color: #D24027;
}
.details-btn:hover {
    background-color: #D24027;
    color: white;
}
#spinner{
    display: none;
}
#spinner-grow{
    display: none;
}
.category{
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}
.tag-str{
    background-color: #D24027;
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin: 3px;
    max-width: 100px;
    max-height: 100px;
}
.just-for-you-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #D24027;
}
.border-red{
    border-top: 2px solid #D24027;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}