
.search-btn {
    background-color: #D24027;
}
.details-btn:hover {
    background-color: #D24027;
    color: white;
}
#spinner{
    display: none;
}
#spinner-grow{
    display: none;
}
.category{
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}
.tag-str{
    background-color: #D24027;
    font-weight: 400;
    color: white;
    padding: 5px;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}
